*env/
*.env
*__pycache__*
**/x_api/*.ini
**/x_api/cookies.json
**/x_api/*.csv
*/**/wheels/
*/**/model/
*/**/nltk_data/

# Logs
*/**/logs
*/**/*.log
*/**/npm-debug.log*
*/**/yarn-debug.log*
*/**/yarn-error.log*
*/**/pnpm-debug.log*
*/**/lerna-debug.log*

*/**/node_modules
*/**/dist
*/**/dist-ssr
*/**/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# phpstorm project files
backend/.idea

# netbeans project files
backend/nbproject

# zend studio for eclipse project files
backend/.buildpath
backend/.project
backend/.settings

# windows thumbnail cache
backend/Thumbs.db

# composer vendor dir
backend/vendor

# composer itself is not needed
backend/composer.phar

# Mac DS_Store Files
backend/.DS_Store

# phpunit itself is not needed
backend/phpunit.phar
# local phpunit config
backend/phpunit.xml

backend/tests/_output/*
backend/tests/_support/_generated

#vagrant folder
backend/.vagrant

# Exception for specific .txt files
!personality_assessment/requirements.txt
!cv_analysis/requirements.txt
!twitter/firefox_profile/pkcs11.txt
!twitter/requirements.txt